In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
x=df.drop('Outcome', axis=1)

In [9]:
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [10]:
y=df['Outcome']

In [11]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.2)

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [19]:
model=Sequential()
model.add(Dense(8,activation='relu', input_shape=(8,)))

In [21]:
model.add(Dense(8,activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [22]:
model.compile(loss='binary_crossentropy',optimizer='sgd', metrics=['accuracy'])

In [23]:
model.fit(x_train, y_train, epochs=5, batch_size=1, verbose=1)

Epoch 1/5
614/614 ━━━━━━━━━━━━━━━━━━━━ 1s 967us/step - accuracy: 0.6401 - loss: 1.0137
Epoch 2/5
614/614 ━━━━━━━━━━━━━━━━━━━━ 1s 949us/step - accuracy: 0.6863 - loss: 0.6288
Epoch 3/5
614/614 ━━━━━━━━━━━━━━━━━━━━ 1s 954us/step - accuracy: 0.6472 - loss: 0.6499
Epoch 4/5
614/614 ━━━━━━━━━━━━━━━━━━━━ 1s 955us/step - accuracy: 0.6856 - loss: 0.6240
Epoch 5/5
614/614 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.6657 - loss: 0.6387

In [25]:
score=model.evaluate(x_test, y_test, verbose=1)
print(score)

5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.6318 - loss: 0.6600
[0.6655532121658325, 0.6233766078948975]